/* Teclado.css */

.teclado-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8vh;
  text-align: center;
  padding: 30px;
  height: 50%;
}

.teclado-grilla {
  display: grid;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
  grid-template-rows: auto;
}

.fila-1 {
  grid-template-columns: repeat(9, 1fr);
}

.fila-2 {
  grid-template-columns: repeat(9, 1fr);
}

.fila-3 {
  grid-template-columns: repeat(7, 1fr);
}

.teclado-columnas {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
